[package]
authors = ["qiuchengxuan <qiuchengxuan@gmail.com>"]
edition = "2018"
readme = "README.md"
name = "pro-flight"
version = "0.1.0"

[dependencies]
ascii = { version = "1.0", default-features = false }
ascii-osd-hud = { git = "https://github.com/qiuchengxuan/ascii-osd-hud" }
bmp280-core = "0.1"
crc = { version = "1.8", default-features = false }
embedded-dma = "0.1"
embedded-hal = "0.2"
embedded-sdmmc = { git = "https://github.com/qiuchengxuan/embedded-sdmmc-rs", branch = "master" }
enum-map = { version = "0.6", default-features = false }
git-version = "0.3.4"
heapless = "0.5"
integer-sqrt = "0.1"
max7456 = "0.1"
micromath = "1.0"
mpu6000 = { git = "https://github.com/qiuchengxuan/mpu6000" }
nalgebra = { version = "0.21", default-features = false }
nb = "0.1"
nmea0183-core = { git = "https://github.com/qiuchengxuan/nmea0183" }
qmc5883l = { git = "https://github.com/qiuchengxuan/qmc5883l" }
sbus-parser = { git = "https://github.com/qiuchengxuan/sbus" }
stm32f4xx-hal = { git = "https://github.com/stm32-rs/stm32f4xx-hal", features = ["stm32f405", "rt", "usb_fs"] }
sval = { version = "0.5", features = ["derive"] }
sval_json = "0.5"
usb-device = "0.2"
usbd-serial = "0.1"
void = { version = "1", default-features = false }

[lib]
name = "pro_flight"

[dev-dependencies]
hex-literal = "0.3"
pretty_assertions = "0.4"
serial_test = "*"
